<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79554856810-aj83in3il34usuumaheaovhbnuagnc04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79554856810-aj83in3il34usuumaheaovhbnuagnc04</string>
	<key>API_KEY</key>
	<string>AIzaSyAUS7k9fCN7siRAs6jXmiIWe4onHb1kxyo</string>
	<key>GCM_SENDER_ID</key>
	<string>79554856810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alumniApp1</string>
	<key>PROJECT_ID</key>
	<string>alumniapp-ffdd0</string>
	<key>STORAGE_BUCKET</key>
	<string>alumniapp-ffdd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79554856810:ios:f1e09eb0db0ce9a6f88713</string>
</dict>
</plist>